.estilo-borde {
    border: 1px solid #999;
    min-height: 60px;
    width: 100%;
}

.header {
    background-color: #e1ecf9;
    min-height: 80px;
}

.sidebar {
    background-color: #6fb021;
}

.main {
    background-color: #fff4d1;
    min-height: 70px;
}

.red {
    background-color: #f9d5d3;
    min-height: 10vw;
}

.light-green {
    background-color: #e2efda;
    min-height: 16vw;
}

.footer {
    background-color: #21a1e1;
    min-height: 60px;
}